{% extends 'main/base.html' %}

{% block title %}
Add equipment
{% endblock %}

{% block content %}
    <h2>Add equipment</h2>
    <form method="post">
        {% csrf_token %}
        <p>Name: {{ form.name }}</p><br>
        <p>Price: {{ form.price }}</p><br>
        <p>Type: {{ form.type }}</p><br>
        <p>Producer: {{ form.producer }}</p><br>
        <p>Choose status: {{ form.status }}</p><br>
        <button type="submit" class="btn btn-success">Add</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}