<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Equipment Manager</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add-status' %}">Add status</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add-type' %}">Add type</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add-producer' %}">Add producer</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add-human' %}">Add human</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add-equipment' %}">Add equipment</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add-ownership' %}">Add ownership</a>
      </nav>
    </div>
    </header>
</div>
    {% block content %} {% endblock %}
</body>
</html>