{% extends 'main/base.html' %}

{% block title %}
{{ human.title }}
{% endblock %}

{% block content %}
<div class="alert alert-success mt-2">
    <h1>First name: {{ human.first_name }}</h1>
    <p>Last name: {{ human.last_name }}</p>
    <p>Phone: {{ human.phone }}</p>
    <p>E-mail: {{ human.email }}</p>
    <p>Status: {{ human.status }}</p>
    <a href="{% url 'human-update' human.id %}" class="btn btn-info">Update human</a>
    <a href="{% url 'human-delete' human.id %}" class="btn btn-danger">Delete</a>
</div>

{% endblock %}