{% extends 'main/base.html' %}

{% block title %}
{{ producer.title }}
{% endblock %}

{% block content %}
<div class="alert alert-success mt-2">
    <h1>{{ producer.name }}</h1>
    <p>Type: {{ producer.year_of_foundation }}</p>
    <p>Producer: {{ producer.country }}</p>
    <p>Price: {{ producer.status }}</p>
    <p>Status: {{ human.status }}</p>
    <a href="{% url 'producer-update' producer.id %}" class="btn btn-info">Update producer</a>
    <a href="{% url 'producer-delete' producer.id %}" class="btn btn-danger">Delete</a>
</div>

{% endblock %}