{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <h1>Main page</h1>
    <a href="{% url 'equipment-list' %}" class="btn btn-success">Equipment</a><br>
    <a href="{% url 'human-list' %}" class="btn btn-success">Human</a><br>
    <a href="{% url 'producer-list' %}" class="btn btn-success">Producer</a><br>
    <a href="{% url 'type-list' %}" class="btn btn-success">Type</a><br>
    <a href="{% url 'ownership-list' %}" class="btn btn-success">Ownership</a><br>
    <a href="{% url 'status-list' %}" class="btn btn-success">Status</a><br>
{% endblock %}