{% extends 'main/base.html' %}

{% block title %}
Status list
{% endblock %}

{% block content %}
    <h2>Status</h2>

<table border="0">
    <tr><th>Name</th></tr>
    <tr><td>
        {% for object in object_list %}
            <a>{{object}}</a>
            <a href="{% url 'status-detail' object.id %}" class="btn btn-success">Show more...</a>
            <a href="{% url 'status-update' object.id %}" class="btn btn-info">Update status</a>
            <a href="{% url 'status-delete' object.id %}" class="btn btn-danger">Delete</a><br>
        {% endfor %}
    </td></tr>
</table>

{% endblock %}