{% extends 'main/base.html' %}

{% block title %}
{{ producer.title }}
{% endblock %}

{% block content %}
    <table border="0">
        <tr><th>Name</th></tr>
            <tr><td>
                {% for object in object_list %}
                    <a>{{object}}</a>
                    <a href="{% url 'producer-detail' object.id %}" class="btn btn-success">Show more...</a>
                    <a href="{% url 'producer-update' object.id %}" class="btn btn-info">Update producer</a>
                    <a href="{% url 'producer-delete' object.id %}" class="btn btn-danger">Delete</a><br>
                {% endfor %}
            </td></tr>
    </table>
{% endblock %}