{% extends 'main/base.html' %}

{% block title %}
Equipment list
{% endblock %}

{% block content %}
    <table border="0">
        <tr><th>Equipment</th></tr>
        <tr>
            <td>
                {% for object in object_list %}
                    <a>{{object}}</a>
                    <a href="{% url 'equipment-detail' object.id %}" class="btn btn-success">Show more...</a>
                    <a href="{% url 'equipment-update' object.id %}" class="btn btn-info">Update equipment</a>
                    <a href="{% url 'equipment-delete' object.id %}" class="btn btn-danger">Delete</a><br>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}