{% extends 'main/base.html' %}

{% block title %}
Ownership list
{% endblock %}

{% block content %}
    <table border="0">
        <tr><th>Ownership</th></tr>
        <tr>
            <td>
                {% for object in object_list %}
                    <a>{{object}}</a>
                    <a href="{% url 'ownership-detail' object.id %}" class="btn btn-success">Show more...</a>
                    <a href="{% url 'ownership-update' object.id %}" class="btn btn-info">Update ownership</a>
                    <a href="{% url 'ownership-delete' object.id %}" class="btn btn-danger">Delete</a><br>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}