{% extends 'main/base.html' %}

{% block title %}
{{ human.title }}
{% endblock %}

{% block content %}
    <table border="0">
         <tr><th>Human</th></tr>
            <tr><td>
                {% for object in object_list %}
                    <a>{{object}}</a>
                    <a href="{% url 'human-detail' object.id %}" class="btn btn-success">Show more...</a>
                    <a href="{% url 'human-update' object.id %}" class="btn btn-info">Update human</a>
                    <a href="{% url 'human-delete' object.id %}" class="btn btn-danger">Delete</a><br>
                {% endfor %}
            </td></tr>
    </table>
{% endblock %}